{{define "HomeFanTokensPrices"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}
  
<div class="container">
  <h1><b>Welcome to myWallet!</b></h1>
</div>

<div class="container">
    <h3>Real time values</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Real time value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-acmft-color.svg" width="24" height="24"></td>
          <td>AC Milan Fan Token</td>
          <td>ACM</td>
          <td>value</td>
        </tr>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-sauberft-color.svg" width="24" height="24"></td>
          <td>Alfa Romeo Racing Fan Token</td>
          <td>SAUBER</td>
          <td>value</td>
        </tr>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-asrft-color.svg" width="24" height="24"></td>
          <td>AS Roma Fan Token</td>
          <td>ASR</td>
          <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-argft-color.svg"></td>
            <td>Associação de Futebol Argentina Fan Token</td>
            <td>ARG</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-amft-color.svg"></td>
            <td>Aston Martin Cognizant Fan Token</td>
            <td>AM</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-atmft-color.svg" width="24" height="24"></td>
            <td>Atletico de Madrid Fan Token</td>
            <td>ATM</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-barft-color.svg" width="24" height="24"></td>
            <td>Barcelona Fan Token</td>
            <td>BAR</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-sccpft-color.svg" width="24" height="24"></td>
            <td>Corinthias</td>
            <td>SCCP</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-psgft-color.svg" width="24" height="24"></td>
            <td>Paris Saint-Germain Fan Token</td>
            <td>PSG</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-cityft-color.svg"></td>
            <td>Manchester City Fan Token</td>
            <td>CITY</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-galft-color.svg" width="24" height="24"></td>
            <td>Galatasaray Fan Token</td>
            <td>GAL</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-navift-color.svg"></td>
            <td>Natus Vincere Fan Token</td>
            <td>NAVI</td>
            <td>value</td>
        </tr>

      <tr>
        <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-caift-color.svg" width="24" height="24"></td>
        <td>Independiente Fan Token</td>
        <td>CAI</td>
        <td>value</td>
    </tr>
    <tr>
      <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-juvft-color.svg" width="24" height="24"></td>
      <td>Juventus Fan Token</td>
      <td>JUV</td>
      <td>value</td>
    </tr>
    <tr>
      <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-ogft-color.svg" width="24" height="24"></td>
      <td>OG Sports Fan Token</td>
      <td>OG</td>
      <td>value</td>
    </tr>
    <tr>
      <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-allft-color.svg"></td>
      <td>Team Alliance</td>
      <td>ALL</td>
      <td>value</td>
    </tr>
    <tr>
      <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-thft-color.svg"></td>
      <td>Team Heretic Fan Token</td>
      <td>TH</td>
      <td>value</td>
    </tr>
    <tr>
      <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-pflft-color.svg"></td>
      <td>Professional Fighters League Fan Token</td>
      <td>PFL</td>
      <td>value</td>
    </tr>
      </tbody>
    </table>
    <p>Based in last transaction on MercadoBitcoin</p>
    
    <p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

  </div>
  

</body>
</html>

{{end}}