{{define "_menu_top_bar_logged"}}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/home/">myWallet</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cryptocoins<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/home/cryptocoins/prices/">Prices</a></li>
            <li><a href="/home/cryptocoins/btc">Bitcoin</a></li>
            <li><a href="/home/cryptocoins/bch">Bitcoin Cash</a></li>
            <li><a href="/home/cryptocoins/eth">Etherium</a></li>
            <li><a href="/home/cryptocoins/ltc">Litecoin</a></li>
            <li><a href="/home/cryptocoins/paxg">Pax Gold</a></li>
            <li><a href="/home/cryptocoins/xrp">XRP</a></li>
            <li><a href="/home/cryptocoins/about/">About Cryptocoins</a></li>
            <li><a href="/home/cryptocoins/others/">Outros</a></li>
        </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Fan Tokens<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/home/fantokens/prices/">Prices</a></li>
                <li><a href="/home/fantokens/futebol/">Futebol</a></li>
                <li><a href="/home/fantokens/gaming/">Gaming</a></li>
                <li><a href="/home/fantokens/motorsport/">Motorsport</a></li>
                <li><a href="/home/fantokens/about/">About Fan Tokens</a></li>
                <li><a href="/home/fantokens/others/">Outros</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Utility Tokens<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/home/utilitytokens/prices/">Prices</a></li>
                <li><a href="/home/utilitytokens/chz">Chiliz</a></li>
                <li><a href="/home/utilitytokens/mco2">Moss Carbon Credit</a></li>
                <li><a href="/home/utilitytokens/wbx">Wibix</a></li>
                <li><a href="/home/utilitytokens/about/">About Utility Tokens</a></li>
                <li><a href="/home/utilitytokens/others/">Outros</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Digital Assets<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/home/digitalassets/prices/">Prices</a></li>
                <li><a href="/home/digitalassets/mbcons01/">Cota de Consórcio</a></li>
                <li><a href="/home/digitalassets/mbprk03/">Precaório MB BR03</a></li>
                <li><a href="/home/digitalassets/mbprk04">Precaório MB RJ04</a></li>
                <li><a href="/home/digitalassets/mbprk01">Precaório MB SP01</a></li>
                <li><a href="/home/digitalassets/about/">About Digital Assets</a></li>
                <li><a href="/home/digitalassets/others/">Outros</a></li>
            </ul>
        </li>

        <li><a href="#">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    </div>
</nav>

{{end}}