{{define "HomeFanTokensAbout"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}
  
<div class="container">
  <h1><b>O que é Fan Token?</b></h1>
</div>


<div class="container">

<p>Quem é fanático por futebol ou e-sports, ama analisar os uniformes do time, a beleza dos estádios e as estratégias do clube. O Fan Token é a sua porta de entrada para participar dessas e muitas outras decisões do seu time.</p>

<p>Cada time parceiro da Socios.com cria um ativo digital, chamado de Fan Token. Essa é uma forma de você adquirir direitos de voto para decisões internas dos seus clubes favoritos.</p>

<h2>Como você participa?</h2>

<p>Com os Fan Tokens, a distância entre sua opinião e o clube, fica menor. Conheça algumas decisões e benefícios que você pode ter com o seu FanToken:</p>

<p>
  - Ingresso grátis<br>
  - Mascote<br>
  - Participe das decisões<br>
  - Experiências VIPs<br>
  - Conteúdos exclusivos<br>
  - Meet and Greet com Grandes Jogadores<br>
  - Acesso ao banco de reservas (Apenas no Futebol)<br>
  - Produtos exclusivos e autografados<br>
  - Muito mais...<br>
</p>
</div>

<p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

</body>
</html>

{{end}}