{{define "HomeUtilityTokensPrices"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}
  
<div class="container">
  <h1><b>Welcome to myWallet!</b></h1>
</div>

<div class="container">
    <h3>Real time values</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Real time value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-ankr-color.svg" ></td>
          <td>ANKR</td>
          <td>ANKR</td>
          <td>value</td>
        </tr>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-axs-color.svg" width="24" height="24"></td>
          <td>Axie Infinity</td>
          <td>AXS</td>
          <td>value</td>
        </tr>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-band-color.svg"></td>
          <td>Band Protocol</td>
          <td>BAND</td>
          <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-bat-color.svg" width="24" height="24"></td>
            <td>Basic Attention Token</td>
            <td>BAT</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-link-color.svg"></td>
            <td>Chainlink</td>
            <td>LINK</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-chz-color.svg"></td>
            <td>Chiliz</td>
            <td>CHZ</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-mana-color.svg" width="24" height="24"></td>
            <td>Decentraland</td>
            <td>MANA</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-enj-color.svg" width="24" height="24"></td>
            <td>Enjin Coin</td>
            <td>ENJ</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-mco2-color.svg" width="24" height="24"></td>
            <td>Moss Carbon Credit</td>
            <td>MCO2</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-omg-color.svg"></td>
            <td>OMG Network</td>
            <td>OMG</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-matic-color.svg" width="24" height="24"></td>
            <td>Polygon</td>
            <td>MATIC</td>
            <td>value</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-grt-color.svg" width="24" height="24"></td>
            <td>The Graph</td>
            <td>GRT</td>
            <td>value</td>
        </tr>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-wbtc-color.svg" width="24" height="24"></td>
          <td>Wrapped Bitcoin</td>
          <td>WBTC</td>
          <td>value</td>
      </tr>
      <tr>
        <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-wbx-color.svg" width="24" height="24"></td>
        <td>WiBX</td>
        <td>WBX</td>
        <td>value</td>
    </tr>
      </tbody>
    </table>
    <p>Based in last transaction on MercadoBitcoin</p>
    
    <p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

  </div>
  

</body>
</html>

{{end}}