{{define "HomeUtilityTokensCHZ"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}

<div class="container">
  <h1><b>Bitcoin</b></h1>
</div>
<h3>O que é Bitcoin?</h3>
<p>Bitcoin é a primeira e a mais famosa criptomoeda do mundo digital. Em 2020, foi eleito o ativo mais rentável, com uma valorização de 420% em reais.</p>
<p>O Bitcoin é uma criptomoeda descentralizada, um ativo que pode ser considerado uma reserva de valor, pois não é impactado pela inflação, além de ser um meio de pagamento.</p>
<p><br></p>
<h3>Como surgiu o Bitcoin?</h3>
<p>Sua criação, em 2008, é atribuída a Satoshi Nakamoto e é baseada em um sistema de regras públicas definidas por um código que só pode ser modificado pelo consenso de todos os participantes da rede. Para evitar fraudes, todas as transações feitas com a moeda digital são registradas em um banco de dados descentralizado e público, que é o blockchain.</p>
<p><br></p>
<div class="container">
    <p style="text-align: right;"><br>Information about last 24 hours</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Name</th>
          <th>Tag</th>
          <th>Value</th>
          <th>Lower Price</th>
          <th>Higher Price</th>
          <th>Volume Traded</th>
          <th>Higher buy offer</th>
          <th>Lower sell offer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-btc-color.svg" ></td>
          <td>Bitcoin</td>
          <td>BTC</td>
          <td>{{.Ticker.Last}}</td>
          <td>{{.Ticker.Low}}</td>
          <td>{{.Ticker.High}}</td>
          <td>{{.Ticker.Vol}}</td>
          <td>{{.Ticker.Buy}}</td>
          <td>{{.Ticker.Sell}}</td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

  </div>


</body>
</html>

{{end}}