{{define "HomeFanTokensOthers"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}
  
<div class="container">
  <h1><b>Welcome to myWallet!</b></h1>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Icon</th>
          <th>Name</th>
          <th>Tag</th>
          <th>Value</th>
          <th>Lower Price</th>
          <th>Higher Price</th>
          <th>Volume Traded</th>
          <th>Higher buy offer</th>
          <th>Lower sell offer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-pflft-color.svg"></td>
          <td>Professional Fighters League Fan Token</td>
          <td>PFL</td>
          <td>value</td>
          <td>Lower Price</td>
          <td>Higher Price</td>
          <td>Volume Traded</td>
          <td>Higher buy offer</td>
          <td>Lower sell offer</td>         
        </tr>

      </tbody>
    </table>
    
    <p style="text-align: right;"><br>Information about last 24 hours</p>

    <p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

  </div>
  

</body>
</html>

{{end}}