{{define "HomeCriptocoinsETH"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}

<div class="container">
  <h1><b>Etherium</b></h1>
</div>

<div  class="text-center">
  <img src="https://www.mercadobitcoin.com.br/resources/img/landing/eth/logo-ethereum.svg" class="roundend">
  <p><br><br></p>
</div>



<div class="container">
  <h2>O protocolo que possibilitou ao blockchain voos mais altos</h2>
  <p>Ethereum é uma plataforma aberta que permite a qualquer pessoa construir e usar aplicações descentralizadas que rodam a tecnologia blockchain.</p>
  <p><br></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Tag</th>
        <th>Value</th>
        <th>Lower Price</th>
        <th>Higher Price</th>
        <th>Volume Traded</th>
        <th>Higher buy offer</th>
        <th>Lower sell offer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-eth-color.svg" width="24" height="24"></td>
        <td>Etherium</td>
        <td>ETH</td>
        <td>{{.Ticker.Last}}</td>
        <td>{{.Ticker.Low}}</td>
        <td>{{.Ticker.High}}</td>
        <td>{{.Ticker.Vol}}</td>
        <td>{{.Ticker.Buy}}</td>
        <td>{{.Ticker.Sell}}</td>
      </tr>
    </tbody>
  </table>

  <p style="text-align: right;"><br>Information about last 24 hours</p>
  <p><br></p>

  <h3>Ether ou Ethereum?</h3>
  <p>O Ether (ETH) é uma criptomoeda, enquanto o Ethereum é uma plataforma. No Ethereum, os usuários podem construir aplicações descentralizadas para diversas finalidades - uma criptomoeda, ICO e até sistemas de votação. Essas aplicações precisam de combustível para funcionar e esse combustível é o Ether.</p>
  <p><br></p>

  <h3>História</h3>
  <p>O Ethereum não poderia existir sem o Bitcoin. Seu criador, o programador Vitalik Buterin, já conhecia o projeto de Satoshi Nakamoto desde 2012, mas acreditava que a tecnologia do Bitcoin poderia ser utilizada para outras soluções além do meio de pagamento. Então ele decidiu criar o projeto do Ethereum, uma plataforma que permite a criação e execução de contratos inteligentes e aplicações descentralizadas, possibilitando uma grande diversidade de casos de uso de forma segura, transparente, veloz e com custos reduzidos para diversos processos.</p>
  <p><br></p>
  <p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

</div>


</body>
</html>

{{end}}