{{define "HomeCriptocoinsPrices"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}

<div class="container">
  <h1><b>Welcome to myWallet!</b></h1>
</div>

<div class="container">
    <h3>Real time values</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Real time value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-btc-color.svg" ></td>
          <td>Bitcoin</td>
          <td>BTC</td>
          <td>{{ (index . 0).Ticker.Last}}</td>
        </tr>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-eth-color.svg" width="24" height="24"></td>
          <td>Etherium</td>
          <td>ETH</td>
          <td>{{ (index . 1).Ticker.Last}}</td>
        </tr>
        <tr>
          <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-ltc-color.svg"></td>
          <td>Litecoin</td>
          <td>LTC</td>
          <td>{{ (index . 2).Ticker.Last}}</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-bch-color.svg"></td>
            <td>Bitcoin Cash</td>
            <td>BCH</td>
            <td>{{ (index . 3).Ticker.Last}}</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-usdc-color.svg"></td>
            <td>USD Coin</td>
            <td>USDC</td>
            <td>{{ (index . 4).Ticker.Last}}</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-xrp-color.svg"></td>
            <td>XRP</td>
            <td>XRP</td>
            <td>{{ (index . 5).Ticker.Last}}</td>
        </tr>
        <tr>
            <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-paxg-color.svg"></td>
            <td>PAX Gold</td>
            <td>PAXG</td>
            <td>{{ (index . 6).Ticker.Last}}</td>
        </tr>

      </tbody>
    </table>
    <p>Based in last transaction on MercadoBitcoin</p>

    <p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

  </div>


</body>
</html>

{{end}}