{{define "HomeCriptocoinsPAXG"}}

{{template "_header"}}
<body>
{{template "_menu_top_bar"}}

<div class="container">
  <h1><b>Pax Gold</b></h1>
</div>

<div  class="text-center">
  <img src="https://www.mercadobitcoin.com.br/resources/img/landing/modules/media/logo_pax.png" width="284" height="195" class="roundend">
  <p><br><br></p>
</div>

<div class="container">
  <h3>PAX Gold (PAXG): Chegou a criptomoeda estável com lastro em Ouro.</h3>
  <p><br></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Tag</th>
        <th>Value</th>
        <th>Lower Price</th>
        <th>Higher Price</th>
        <th>Volume Traded</th>
        <th>Higher buy offer</th>
        <th>Lower sell offer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://www.mercadobitcoin.com.br/resources/assets/v2/img/icons/assets/ico-btc-color.svg" ></td>
        <td>PAX Gold</td>
        <td>PAXG</td>
        <td>{{.Ticker.Last}}</td>
        <td>{{.Ticker.Low}}</td>
        <td>{{.Ticker.High}}</td>
        <td>{{.Ticker.Vol}}</td>
        <td>{{.Ticker.Buy}}</td>
        <td>{{.Ticker.Sell}}</td>
      </tr>
    </tbody>
  </table>
  <p style="text-align: right;"><br>Information about last 24 hours</p>
  <br>
  <h3>Conheça mais sobre Pax Gold</h3>
  <p>A Pax Gold (PAXG) nasceu na empresa Paxos, uma das mais tradicionais da indústria cripto, fundada em 2012 e hoje uma custodiante regulamentada pelo Departamento de Serviços Financeiros do Estado de Nova York.</p>
  <p>O PAXG é totalmente lastreado em ouro físico, mantido nos cofres mais seguros do mundo. Uma firma de auditoria renomada que atesta mensalmente que o lastro de ouro físico corresponde à quantidade emitida de tokens PAXG.</p>
  <p>A Paxos garante aos detentores de tokens devidamente aprovados em seu processo de Conheça seu Cliente (KYC) o direito de resgatar, a qualquer momento, a quantia em ouro equivalente.</p>
  <p><br></p>

  <p style="text-align: right;">Desenvolvido por Matheus Rocha</p>

</div>


</body>
</html>

{{end}}