{{define "IndexWallet"}}

{{template "_header"}}
{{template "_menu_bar"}}
<body>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Usuário</th>
                            <th>Asset</th>
                            <th>Balance</th>
                            <th>Hash</th>
                            <th>Data de Criação</th>
                            <th>Ultima alteração</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.UserName}}</td>
                            <td>{{.Asset_tag}}</td>
                            <td>{{.Balance}}</td>
                            <td>{{.Hash}}</td>
                            <td>{{.CreatedAt}}</td>
                            <td>{{.UpdatedAt}}</td>
                            <td><a href="wallet/update/?id={{.Id}}" class="btn btn-info">Update</a></td>
                            <td><button onclick="onDelete('{{.Id}}')" class="btn btn-danger">Deletar</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <div>
            <a href="wallet/new/" class="btn btn-primary mb-2">New</a>
        </div>

    </div>
</body>

<script>
    function onDelete(id) {
        let response = confirm("Do you really want to delete wallet?")
        if (response) {
            window.location = "wallet/delete/?id=" + id
        }
    }

</script>

</html>
{{end}}