{{define "Login"}}

{{template "_header"}}

{{template "_menu_top_bar"}}

<form method="POST" action="/login/auth/">
    <div class="form-group" style="margin-left: 15px;">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" name="inputLoginEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email</small>
    </div>
    <div class="form-group" style="margin-left: 15px;">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="inputLoginPassword" placeholder="Password">
    </div>
    <div class="form-check" style="margin-left: 37px;">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Verification</label>
    </div>
    <button type="submit" value="auth" class="btn btn-primary" style="margin-left: 37px;">Login</button>
  </form>


{{end}}