{{define "NewWallet"}}

{{template "_header"}}
{{template "_menu_top_bar_logged"}}

<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">New Wallet</h1>
                <p class="lead">Details:</p>
            </div>
        </div>
        <form method="POST" action="/user/wallet/insert/">

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="userId">UserId:</label>
                        <input type="text" name="userId" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="hash">Hash:</label>
                        <input type="text" name="hash" class="form-control">
                    </div>
                </div>
            </div>

            <button type="submit" value="save" class="btn btn-success">Save</button>
            <a class="btn btn-info" href="/">Back</a>
        </form>
    </body>

</div>
</body>

</html>
{{end}}