{{define "UpdateWallet"}}

{{template "_header"}}
{{template "_menu_top_bar"}}

<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Edit Wallet</h1>
                <p class="lead">Details:</p>
            </div>
        </div>
        <form method="POST" action="/wallet/update/">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="user">UserName:</label>
                        <input type="text" name="user" class="form-control" placeholder="{{.UserName}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="asset">Asset:</label>
                        <input type="text" name="asset" class="form-control" placeholder="{{.Asset_tag}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="hash">Hash:</label>
                        <input type="text" name="hash" class="form-control" placeholder="{{.Hash}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="balance">Balance:</label>
                        <input type="number" name="balance" class="form-control" step="0.01" placeholder="{{.Balance}}">
                    </div>
                </div>
            </div>
            <button type="submit" value="save" class="btn btn-success">Update</button>
            <a class="btn btn-info" href="/">Back</a>
        </form>
    </body>

</div>
</body>
<footer>
    <div>
        <p>
            <br><br>
        </p>
    </div>
</footer>

</html>

{{end}}